.rating-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, min-content);
  overflow-y: auto;
}

.star-headers {
  font-size: 2vw;
  font-weight: 600;
}
