@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*https://codepen.io/lrz3/pen/gEKdYw ref for this*/

.rate {
  display: inline-block;
  border: 0;
  color: #e7e7cf;
}

.rate > input {
  display: none;
}

.rate > label {
  float: right;
}

.rate > label:before {
  display: inline-block;
  font-size: 3rem;
  margin: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f006";
}

.rate .half:before {
  position: absolute;
  padding-right: 0;
}
