@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
/*https://codepen.io/lrz3/pen/gEKdYw ref for this*/

.rate {
  display: inline-block;
  border: 0;
  color: #16171b;
  position: relative;
}

.averagedRatings {
  display: inline-block;
  border: 0;
  color: black;
}

.rate > input {
  display: none;
}

.rate > label {
  float: right;
}

.rate > label:before {
  display: inline-block;
  font-size: 3.5vw;
  margin: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005";
}

.rate .half:before {
  position: absolute;
  padding-right: 0;
}

/* Half star trick */
.rate .half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}

/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label {
  color: #e7e7cf;
}

/* Prevent color change on hover or click for averaged ratings */
.averagedRatings input:checked ~ label,
.averagedRatings label:hover,
.averagedRatings label:hover ~ label {
  color: inherit; /* Prevent color change on hover */
}

/* Active state for stars based on average rating */
.averagedRatings label.active {
  color: #e7e7cf;
}
.averagedRatings label.half.active {
  color: #e7e7cf;
}

/* Disabled stars based on the average rating */
.averagedRatings input:disabled ~ label {
  color: inherit; /* Do not color stars in this state */
}

/* Highlight stars based on average value */
.averagedRatings input[disabled]:checked ~ label,
.averagedRatings input[disabled]:checked ~ label ~ label {
  color: #e7e7cf; /* Color stars up to the average value */
}

/* Highlight up to the calculated average */
.averagedRatings input[disabled]:checked ~ label.active {
  color: #e7e7cf; /* Apply the color to all stars up to the average */
}
