.home-grid-container {
  display: grid;
  padding-left: 12px;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 40px;
}

.movieslist img {
  width: 12vw;
  height: auto;
  border-radius: 25px;
  object-fit: cover;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.movie-title {
  font-weight: 600;
  margin-top: 16px;
}
