body {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 85vh;
    margin-bottom: 2vh;
}

.start-button {
    position: absolute;
    bottom: 20px;
    width: 15vw;
    height: 4vw ;
    font-size: 2vw;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.informative-text {
    font-size: 2vw;
}

