body {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 45vw;
    margin-bottom: 2vh;
}

.link-form {
    display: contents;
}

.start-button {
    position: absolute;
    bottom: 20px;
    width: 15vw;
    height: 4vw ;
    font-size: 2vw;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.logo {
    position: absolute;
}

.informative-text {
    font-size: 2vw;
    padding: 1vw;
    background-color: black;
    text-shadow:
            1px 1px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black;
}

.first-slide {
    background-image: url("../../../src/assets/ratingSlide.png");
    background-size: cover;
}

.second-slide {
    background-image: url("../../../src/assets/forumSlide.png");
    background-size: cover;
}

.third-slide {
    background-image: url("../../../src/assets/watchedSlide.png");
    background-size: cover;
}

.fourth-slide {
    background-image: url("../../../src/assets/followSlide.png");
    background-size: cover;
}

.fifth-slide {
    background-image: url("../../../src/assets/userSlide.png");
    background-size: cover;
}


