.login-grid-container {
  margin: auto;
  padding: 0;
  height: 90vh;
  width: 95vw;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10vh auto;
  grid-template-areas:
    "logo backgroundLogin"
    "usernameInput backgroundLogin"
    "passwordInput backgroundLogin"
    "login backgroundLogin";
}

.login-form {
  display: contents;
}

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundLogin {
  grid-area: backgroundLogin;
  background-image: url("src/assets/background.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.usernameInput {
  grid-area: usernameInput;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passwordInput {
  grid-area: passwordInput;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field {
  width: 28vw;
  height: 8vh;
  margin: 1vh;
}

.text-giant {
  font-size: 5vh;
}

.text-big {
  font-size: 3vh;
}

.text-small {
  font-size: 2vh;
}