.login-grid-container {
  margin: 15px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo backgroundLogin"
    "usernameInput backgroundLogin"
    "passwordInput backgroundLogin"
    "login backgroundLogin";
}

.logo {
  grid-area: logo;
}

.backgroundLogin {
  grid-area: backgroundLogin;
  background-image: url("/home/ameleroparra/Settima/Settima-FrontEnd/src/assets/background.png");
  background-size: cover;
  background-position: center;
}

.usernameInput {
  grid-area: usernameInput;
}

.passwordInput {
  grid-area: passwordInput;
}

.login {
  grid-area: login;
}
