.movie-grid-container {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto 50px auto 1fr auto auto;
  grid-template-areas:
    "trailerbtn trailerbtn trailerbtn"
    "movieImg title title"
    "movieImg genres specificCast"
    "movieImg description specificCast"
    "movieImg boxes specificCast"
    "watched boxes specificCast"
    "tabs-left tabs-right tabs-right";
}

.trailerbtn {
  grid-area: trailerbtn;
}

.movieImg {
  grid-area: movieImg;
}

.movieImg img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.title {
  grid-area: title;
}

.title h1 {
  margin: 0;
}

.genres {
  grid-area: genres;
  display: flex;
  justify-content: space-evenly;
}

.description {
  grid-area: description;
}

.specificCast {
  grid-area: specificCast;
}

.watched {
  grid-area: watched;
}

.boxes {
  grid-area: boxes;
  display: flex;
  justify-content: space-evenly;
}

.tab-section-left {
  grid-area: tabs-left;
}

.tab-section-left h2,
.tab-section-right h2 {
  margin: 0;
}

.tab-section-right {
  grid-area: tabs-right;
}

.cursor-inactive {
  cursor: not-allowed;
}

@media (max-width: 1240px) {
  /* When viewport is reduced, adjust the grid layout */
  .grid-container {
    grid-template-columns: 1fr 3fr 1fr; /* Make movieImg column take more space */
    grid-template-areas:
      ". trailerbtn ."
      "movieImg title title"
      "movieImg genres specificCast"
      "movieImg description specificCast"
      "watched boxes specificCast"
      "tabs-left tabs-right tabs-right";
  }

  .watched {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .watched .watchedbtn,
  .watched .likedbtn {
    max-width: unset;
    width: 100%; /* Buttons take up full width */
    height: 100%;
  }
}
