.movie-grid-container {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto 50px auto 1fr auto auto;
  grid-template-areas:
    "trailerbtn trailerbtn trailerbtn"
    "movieImg title title"
    "movieImg genres specificCast"
    "movieImg description specificCast"
    "movieImg boxes specificCast"
    "watched boxes specificCast"
    "tabs-left tabs-right tabs-right";
}

.trailerbtn {
  grid-area: trailerbtn;
}

.movieImg {
  grid-area: movieImg;
}

.movieImg img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.title {
  grid-area: title;
}

.genres {
  grid-area: genres;
  display: flex;
  justify-content: space-evenly;
}

.description {
  grid-area: description;
}

.specificCast {
  grid-area: specificCast;
}

.watched {
  grid-area: watched;
}

.boxes {
  grid-area: boxes;
  display: flex;
  justify-content: space-evenly;
}

.tab-section-left {
  grid-area: tabs-left;
}

.tab-section-left h2,
.tab-section-right h2 {
  margin: 0;
}

.tab-section-right {
  grid-area: tabs-right;
}

.cursor-inactive {
  cursor: not-allowed;
}

@media (max-width: 1240px) {
  .watched {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .watched .watchedbtn,
  .watched .likedbtn {
    max-width: unset;
    width: 100%; /* Buttons take up full width */
    height: 100%;
  }

  .wtw-item-container .second-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .boxes {
    display: grid;
    gap: 16px;
    width: 100%;
  }

  .watched {
    height: full;
  }

  .wtw,
  .averagestar {
    padding: 24px;
    margin: 0;
    width: 100%;
  }

  .wtw-item-container {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}

@media (max-width: 740px) {
  .movie-grid-container {
    margin: 16px;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "trailerbtn trailerbtn"
      "movieImg movieImg"
      "title title"
      "genres genres"
      "description description"
      "watchedbtn averagestar"
      "likebtn wtw"
      "tabs-left tabs-left"
      "tabs-right tabs-right";
  }

  .description {
    font-size: 15px;
  }

  .movieImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .genres .genre-box {
    padding: 10px;
  }

  .movieImg img {
    width: 50%;
  }

  .watched {
    display: contents;
  }

  .specificCast {
    display: none;
    grid-area: unset;
  }

  .boxes {
    display: contents;
  }

  .likebtn {
    grid-area: likebtn;
  }

  .watchedbtn {
    grid-area: watchedbtn;
  }

  .wtw {
    grid-area: wtw;
  }

  .wtw-item-container p {
    display: none;
  }
}
