.register-grid-container {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 95vw;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo backgroundLogin"
    "usernameInput backgroundLogin"
    "emailInput backgroundLogin"
    "passwordInput backgroundLogin"
    "passwordConfirmInput backgroundLogin"
    "register backgroundLogin";
}

.logo {
    grid-area: logo;
}

.backgroundLogin {
    grid-area: backgroundLogin;
    background-image: url("../../../src/assets/background.png");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.usernameInput {
    grid-area: usernameInput;
}

.emailInput {
    grid-area: emailInput;
}

.passwordInput {
    grid-area: passwordInput;
}

.passwordConfirmInput {
    grid-area: passwordConfirmInput;
}

.register {
    grid-area: register;
}
