.register-grid-container {
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 95vw;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "fullName backgroundLogin"
    "usernameInput backgroundLogin"
    "emailInput backgroundLogin"
    "passwordInput backgroundLogin"
    "passwordConfirmInput backgroundLogin"
    "register backgroundLogin";
}

.register-form {
  display: contents;
}

.backgroundLogin {
  grid-area: backgroundLogin;
  background-image: url("../../../src/assets/background.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.fullName {
  grid-area: fullName;
  margin: 0% 5% 0% 5%;
}

.usernameInput {
  grid-area: usernameInput;
  margin: 0% 5% 0% 5%;
}

.emailInput {
  grid-area: emailInput;
  margin: 0% 5% 0% 5%;
}

.passwordInput {
  grid-area: passwordInput;
  margin: 0% 5% 0% 5%;
}

.passwordConfirmInput {
  grid-area: passwordConfirmInput;
  margin: 0% 5% 0% 5%;
}

.register {
  grid-area: register;
  margin: 0% 5% 0% 5%;
}

@media (max-width: 1020px) {
  .register-grid-container {
    margin: auto;
    padding: 10px;
    width: 90%;
    height: 90%;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "fullName"
      "usernameInput"
      "emailInput"
      "passwordInput"
      "passwordConfirmInput"
      "register";
  }

  .register-form {
    display: contents;
  }

  .backgroundLogin {
    grid-area: backgroundLogin;
    background-image: url("../../../src/assets/background.png");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
  }

  .fullName {
    grid-area: fullName;
  }

  .usernameInput {
    grid-area: usernameInput;
  }

  .emailInput {
    grid-area: emailInput;
  }

  .passwordInput {
    grid-area: passwordInput;
  }

  .passwordConfirmInput {
    grid-area: passwordConfirmInput;
  }

  .register {
    grid-area: register;
  }
}