@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.stuck {
  border-radius: 0px;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0.46, 1.02);
}

p {
  width: 90%;
  margin: auto;
}

/*Weird default line*/
ul.collapse-content::before {
  content: none;
}

.collapse {
  display: grid;
  grid-template-columns: 1fr auto;
}

.search {
  width: 100%;
}

.show-search {
  background-color: black;
}

.show-search .search-input {
  opacity: 1;
  width: 100%;
}

.show-search .search-icon,
.show-search .search-close {
  right: 20px;
}

.show-search .search-icon {
  opacity: 0;
}
.show-search .search-close {
  opacity: 1;
}

.search-icon,
.search-close {
  transition: opacity 0.3s cubic-bezier(0.17, 0.67, 0.46, 1.02);
}
