.display-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas:
    "tabs tabs"
    "movieContainer movieContainer"
    "activity activity";
  border-top: 10px solid #992434;
  border-left: 5px solid #992434;
  border-right: 5px solid #992434;
  border-radius: 25px;
}

.tabs {
  grid-area: tabs;
  display: flex;
  justify-content: space-between;
}

.movieContainer {
  grid-area: movieContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.activity {
  grid-area: activity;
}
